/* Global */
.woocommerce_page_inspire_checkout_fields_settings .spinner {
	float: left;
}

.woocommerce_page_inspire_checkout_fields_settings input[type="text"],
.woocommerce_page_inspire_checkout_fields_settings input[type="number"],
.woocommerce_page_inspire_checkout_fields_settings textarea,
.woocommerce_page_inspire_checkout_fields_settings select {
	width: 100%;
}

span.inspire-file-error {
	color: red;
	font-weight: bold;
}

.woocommerce_page_inspire_checkout_fields_settings .hide {
    display: none;
}

/* Add New Field Box */
.woocommerce_page_inspire_checkout_fields_settings .add-new-field-box h3 {
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
	color: #23282d;
	font-size: 14px;
	line-height: 21px;
	padding: 10px 10px 11px 14px;
	margin: 0;
}

.woocommerce_page_inspire_checkout_fields_settings #add-new-field .accordion-section-content {
	padding: 11px 13px 8px;
}

.woocommerce_page_inspire_checkout_fields_settings .add-new-field-content > div {
	margin: 5px 0 10px;
}

.woocommerce_page_inspire_checkout_fields_settings .add-new-field-box .stuffbox {
    margin-top: 25px;
}

/* Fields */
.woocommerce_page_inspire_checkout_fields_settings #nav-menu-header h3 {
	color: #23282d;
	font-size: 14px;
	float: left;
	line-height: 28px;
	margin: 0;
}

.woocommerce_page_inspire_checkout_fields_settings .fields-container {
	border-right: 1px solid #ddd;
	float: left;
	width: 413px;
}

.woocommerce_page_inspire_checkout_fields_settings ul.fields {
	padding-top: 0;
}

.woocommerce_page_inspire_checkout_fields_settings .field-item .menu-item-bar .menu-item-handle .item-title {
    margin-right: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.woocommerce_page_inspire_checkout_fields_settings .field-item.just-added .menu-item-bar .menu-item-handle {
    border-color: #999;
}

.woocommerce_page_inspire_checkout_fields_settings .field-item.field-hidden .item-title {
	color: #898e93;
	font-style: italic;
}

.woocommerce_page_inspire_checkout_fields_settings .field-settings {
	display: none;
}

.woocommerce_page_inspire_checkout_fields_settings .field-settings-tab-container > div {
	margin: 5px 0 10px;
}

.woocommerce_page_inspire_checkout_fields_settings .field-settings label {
	margin-bottom: 5px;
}

.woocommerce_page_inspire_checkout_fields_settings .field-settings .element-option {
    display: none;
}

.woocommerce_page_inspire_checkout_fields_settings .field-settings .element-option.show {
    display: block;
}

.woocommerce_page_inspire_checkout_fields_settings .field-settings a.remove-field {
	color: #a00;
	display: inline-block;
	margin: 10px 0 5px 320px;
	text-decoration: none;
}

.woocommerce_page_inspire_checkout_fields_settings .field-settings a.remove-field:hover {
	color: red;
}

.woocommerce_page_inspire_checkout_fields_settings #nav-menu-footer {
	border-top: 1px solid #ddd;
	clear: both;
}

.woocommerce_page_inspire_checkout_fields_settings #nav-menu-footer .button {
	float: left;
}

.woocommerce_page_inspire_checkout_fields_settings #nav-menu-footer .reset_settings {
    border: none;
    box-shadow: none;
    color: #a00;
    float: right;
    padding: 0;
}

.woocommerce_page_inspire_checkout_fields_settings #nav-menu-footer .reset_settings:hover {
    color: red;
}

/* Tabs */
.woocommerce_page_inspire_checkout_fields_settings .fields-container .nav-tab {
    font-size: 12px;
    margin-left: 0;
    margin-right: .5em;
}

.woocommerce_page_inspire_checkout_fields_settings .fields-container .nav-tab-active,
.woocommerce_page_inspire_checkout_fields_settings .fields-container .nav-tab-active:focus,
.woocommerce_page_inspire_checkout_fields_settings .fields-container .nav-tab-active:focus:active,
.woocommerce_page_inspire_checkout_fields_settings .fields-container .nav-tab-active:hover {
    background-color: #fff;
    border-bottom: 0;
}

.woocommerce_page_inspire_checkout_fields_settings .nav-tab-wrapper {
    border-bottom: 0;
    margin-right: 10px;
}

.woocommerce_page_inspire_checkout_fields_settings .field-settings-tab-container {
    border: 1px solid #ccc;
    margin-top: -1px;
    margin-right: 10px;
    padding: 4px 10px 0;
}

/* Edit Order */
.post-type-shop_order .edit_address .form-left {
    float: left !important;
    clear: left;
}

.post-type-shop_order .edit_address .form-right {
    float: right !important;
}
